difference_of_prover_logs_wrapper.tex
test.bpl
test.dll
wc_of_logs.txt
wc_of_logs_definitions.tex

test.runtimeconfig.json
test_boogie_prover_log_boogie-option
test_boogie_prover_log_intercepted
test_boogie_prover_log_prover-option
test_dafny_prover_log_intercepted
test_dafny_prover_log_prover-option

